


#main{
    width: 100%;
    height: 75px;
    display: flex;
    gap: 20px;
}
#logo{
    width: 22%;
    height: 70px;
    margin-left: 100px;
}
#logo img{
    width: 40%;
    height: 60px;
}
 .navbar{
        color: white;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-links{
        list-style: none;
        display: flex;
        gap: 20px;
        margin-left: 450px;
    }
    .nav-links li a{
        text-decoration: none;
        color: rgb(192, 183, 183);
        font-size: 25px;
    }
#main_1{
    width: 95%;
    height: 450px;
    overflow: hidden;
    border-top-left-radius: 60px;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 45px;
    margin-top: 120px;
    margin-left: 27px;
    box-shadow: 3px 3px 25px 10px rgb(119, 181, 206);
}
#mainer{
    width: 100%;
    height: 400px;
    display: flex;
    gap: 20px;
    margin-top: 70px;
}
#main_2{
    width: 25%;
    height: 300px;
    margin-top: 40px;
    margin-left: 60px;
    background-color: rgb(228, 243, 243);
    border-radius: 20%;
    box-shadow: 5px 5px 17px 12px gray;
}
#main_3{
    width: 25%;
    height: 300px;
    margin-top: 40px;
    margin-left: 80px;
    background-color: rgb(241, 241, 212);
    border-radius: 20%;
    box-shadow: 5px 5px 17px 12px gray;
}
#main_4{
    width: 25%;
    height: 300px;
    margin-top: 40px;
    margin-left: 80px;
    background-color: rgb(238, 224, 206);
    border-radius: 20%;
    box-shadow: 5px 5px 17px 12px gray;
}
#whats{
    width: 40%;
    height: 70px;
    margin-left: 110px;
    margin-top: 50px;
}
#whats img{
    width: 60%;
    height: 60px;
    margin-left: 20px;
}
#book{
    width: 40%;
    height: 55px;
    margin-top: 20px;
    margin-left: 90px;
}
#head{
    color: rgb(76, 107, 126);
}

#head_1{
    color: rgb(55, 71, 82);
}
#face{
    width: 40%;
    height: 70px;
    margin-left: 110px;
    margin-top: 50px;
}
#face img{
    width: 60%;
    height: 60px;
    margin-left: 20px;
}
#book_1{
    width: 40%;
    height: 55px;
    margin-top: 20px;
    margin-left: 90px;
}
#head_2{
    color: rgb(76, 107, 126);
}
#head_3{
    color: rgb(55, 71, 82);
}
#girl{
    width: 40%;
    height: 70px;
    margin-left: 110px;
    margin-top: 50px;
}
#girl img{
    width: 60%;
    height: 60px;
    margin-left: 20px;
}
#instant{
    width: 45%;
    height: 70px;
    margin-top: 20px;
    margin-left: 90px;
    font-size: 20px;
}

#head_4{
    color: rgb(76, 107, 126);
}
#head_5{
    color: rgb(55, 71, 82);
}
#main_5{
    width: 95%;
    height: 400px;
    display: flex;
    gap: 20px;
    margin-top: 40px;
    border: 5px solid rgb(64, 128, 168);
    margin-left: 25px;
    border-radius: 15%;
}
#box{
    width: 30%;
    height: auto;
    margin-top: 20px;
    margin-left: 150px;
}
#head_6{
    color:  black;
    width: 50%;
    height: 52px;
    margin-top: 90px;
    margin-left: 65px;
    font-size: 40px;
}
#head_7{
    color:  rgb(82, 154, 199);
    width: 50%;
    height: 52px;
    margin-left: 20px;
    font-size: 50px;
}
#boxes_2 img{
     width: 60%;
    overflow: hidden;
    margin-left: 50px;
    margin-top: 20px;

}
#head_8{
    color:  rgb(82, 154, 199);
    width: 50%;
    height: 60px;
    margin-left: 100px;
    font-size: 22px;
}
#box_1{
    width: 53%;
    height: 350px;
    margin-top: 30px;
    background-color: rgb(248, 246, 246);

}
#kuch_bh{
    display: flex;
    width: 90%;
    height: 70px;
    margin-top: 40px;
    margin-left: 30px;
}
#im{
    margin-top: 10px;
    width: 16%;
    height: 50px;
    margin-left: 20px;
}
#im img{
    width: 70%;
    height: 50px;
    margin-left: 10px;
}
#texta{
    width: 77%;
    height: 30px;
    margin-left: 10px;
    font-size: 30px;
    margin-top: 20px;
}
#kuch_bh_1{
    display: flex;
    width: 90%;
    height: 70px;
    margin-left: 30px;
    margin-top: 15px;
}
#im_1{
    margin-top: 10px;
    width: 16%;
    height: 45px;
    margin-left: 20px;
}
#im_1 img{
    width: 70%;
    height: 50px;
    margin-left: 15px;
}
#texta_1{
    width: 60%;
    height: 30px;
    margin-left: 10px;
    font-size: 30px;
    margin-top: 20px;
}
#kuch_bh_2{
    display: flex;
    width: 90%;
    height: 70px;
    margin-left: 30px;
    margin-top: 15px;
}
#im_2{
    margin-top: 10px;
    width: 16%;
    height: 50px;
    margin-left: 20px;
}
#im_2 img{
    width: 70%;
    height: 50px;
    margin-left: 10px;
}
#texta_2{
     width: 77%;
    height: 30px;
    margin-left: 10px;
    font-size: 30px;
    margin-top: 20px;
}
#main_6{
    width: 100%;
    height: 550px;
    margin-top: 90px;
}
#head_9{
    width: 100%;
    height: 150px;
    background-color: rgb(248, 246, 246);
}
#head_10{
    font-size: 50px;
    text-align: center;
}
.sp{
    color: skyblue;
}
#boxe{
    width: 97%;
    height: 300px;
    margin-top: 10px;
    gap: 20px;
}
#boxee{
    width: 97%;
    height: 270px;
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
#imge{
    border: 7px solid rgb(211, 204, 204);
    width: 17%;
    height: 220px;
    margin-top: 30px;
    margin-left: 75px;
    border-radius: 20%;
}
#imge_1{
    border: 7px solid rgb(211, 204, 204);
    width: 17%;
    height: 220px;
    margin-top: 30px;
    margin-left: 100px;
    border-radius: 20%;
}
#imge_2{
    border: 7px solid rgb(211, 204, 204);
    width: 17%;
    height: 220px;
    margin-top: 30px;
    margin-left: 100px;
    border-radius: 20%;
}
#imge_3{
    border: 7px solid rgb(211, 204, 204);
    width: 17%;
    height: 220px;
    margin-top: 30px;
    margin-left: 100px;
    border-radius: 20%;
}
#ime{
    width: 100%;
    height: 150px;
    border-radius: 20%;
}
#ime img{
    width: 100%;
    height: 150px;
    border-radius: 20%;
}
.texta_3{
    width: 93%;
    font-size: 25px;
    height: 60px;
    color: rgb(76, 107, 126);
    background-color: rgb(245, 248, 247);
    text-align: center;
    margin-left: 10px;
    border-radius: 20%;
}

#ime_1{
    width: 100%;
    height: 150px;
    border-radius: 20%;
}
#ime_1 img{
    width: 100%;
    height: 150px;
    border-radius: 20%;
}
.texta_4{
    width: 93%;
    font-size: 25px;
    height: 60px;
    color: rgb(76, 107, 126);
    background-color: rgb(245, 248, 247);
    text-align: center;
    margin-left: 10px;
    border-radius: 20%;
}
#ime_2{
    width: 100%;
    height: 150px;
    border-radius: 20%;
}
#ime_2 img{
    width: 100%;
    height: 150px;
    border-radius: 20%;
}
.texta_5{
   width: 93%;
    font-size: 25px;
    height: 60px;
    color: rgb(76, 107, 126);
    background-color: rgb(245, 248, 247);
    text-align: center;
    margin-left: 10px;
    border-radius: 20%;
}
#ime_3{
    width: 100%;
    height: 150px;
    border-radius: 20%;
}
#ime_3 img{
    width: 100%;
    height: 150px;
    border-radius: 20%;
}
.texta_6{
    width: 93%;
    font-size: 25px;
    height: 60px;
    color: rgb(76, 107, 126);
    background-color: rgb(245, 248, 247);
    text-align: center;
    margin-left: 10px;
    border-radius: 20%;
}
#btn{
    width: 100%;
    height: 70px;

}
.btn_1{
    padding: 12px;
    width: 17%;
    background-color: rgb(47, 94, 165);
    color: white;
    border-radius: 10px;
    margin-left: 50px;
    color: white;
    font-size: 20px;
    border: none;
}
.btn_2{
    padding: 12px;
    width: 17%;
     background-color: rgb(47, 94, 165);
    color: white;
    border-radius: 10px;
    margin-left: 100px;
    color: white;
    font-size: 20px;
    border: none;
}
.btn_3{
    padding: 12px;
    width: 17%;
     background-color: rgb(47, 94, 165);
    color: white;
    border-radius: 10px;
    margin-left: 100px;
    color: white;
    font-size: 20px;
    border: none;
}
.btn_4{
    padding: 12px;
    width: 17%;
     background-color: rgb(47, 94, 165);
    color: white;
    border-radius: 10px;
    margin-left: 100px;
    color: white;
    font-size: 20px;
    border: none;
}
#main_7{
    width: 97%;
    height: 400px;
}
.texta_7{
    width: 100%;
    height: 85px;
    text-align: center;
    font-size: 25px;
}
#picture{
        width: 100%;
        height: 150px;
        margin-top: 40px;
        
    }
    .pic9{
        height: 150px;
        margin-left: 30px;
    }
    .pic10{
        height: 150px;
        margin-left: 20px;
    }
    .pic11{
        height: 150px;
        margin-left: 20px;
    }
    .pic12{
        height: 150px;
        margin-left: 20px;
    }
    .pic13{
        height: 150px;
        margin-left: 20px;
    }
    .pic14{
        height: 150px;
        margin-left: 20px;
    }
    .pic15{
        height: 100px;
        height: 150px;
        margin-left: 20px;
    }
    #head_1{
        background-color: rgb(98, 121, 113);
        height: 60px;
        width: 100%;
    }
    #text{
        width: 100%;
        height: 80px;
        display: flex;
        gap: 40px;
        margin-left: 25px;
    }
    .para{
        height: 30px;
        margin-left: 30px;
        width: 100%;
        font-size: 30px;
        text-align: center;
    }
    .para_1{
        height: 30px;
        margin-left: 40px;
        width: 100%;
        font-size: 30px;
        text-align: center;
    }
    .para_2{
        height: 30px;
        margin-left: 40px;
        width: 100%;
        font-size: 30px;
        text-align: center;
    }
    .para_3{
        height: 30px;
        margin-left: 40px;
        width: 100%;
        font-size: 30px;
        text-align: center;
    }
    .para_4{
        height: 30px;
        margin-left: 40px;
        width: 100%;
        font-size: 30px;
        text-align: center;
    }
    .para_5{
        height: 30px;
        margin-left: 40px;
        width: 100%;
        font-size: 30px;
        text-align: center;
    }
    .para_6{
        height: 30px;
        margin-left: 40px;
        width: 100%;
        font-size: 30px;
        text-align: center;
    }
#main_8{
    width: 100%;
    height: 250px;
}
.texta_8{
    width: 100%;
    height: 85px;
    text-align: center;
    font-size: 25px;
    background-color: rgb(248, 246, 246);
}
#head_12{
    font-size: 50px;
    text-align: center;
}
.mar{
        height: 80px;
        width: 17%;
        margin-left: 52px;
     }
     .mar_1{
        height: 80px;
        width: 13.5%;
        margin-left: 52px;
     }
     .mar_2{
        height: 80px;
        width: 18%;
        margin-left: 52px;
     }
     .mar_3{
        height: 80px;
        width: 8%;
        margin-left: 52px;
     }
     .mar_4{
        height: 80px;
        width: 6.5%;
        margin-left: 52px;
     }
     .marquee-wrapper {
        overflow: hidden;
        white-space: nowrap;
        background: #fff;
        padding: 10px 0;
    }

    .marquee {
        display: inline-block;
        animation: scroll-left 8s linear infinite;
    }

    .marquee img {
        height: 60px;
        margin: 0 30px;
        vertical-align: middle;
    }

    @keyframes scroll-left {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-50%);
        }
    }
    #main_9{
    width: 100%;
    height: 500px;
    }
    .texta_9{
    width: 100%;
    height: 85px;
    text-align: center;
    font-size: 25px;
    background-color: rgb(248, 246, 246);
    }
    #head_13{
    font-size: 50px;
    text-align: center;
}
.container_1{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.slider-container {
  width: 1000px;
  position: relative;
}

input[type="radio"] {
  display: none;
}

.slides {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
#slide1:checked ~ .slides .s1,
#slide2:checked ~ .slides .s2,
#slide3:checked ~ .slides .s3 {
  opacity: 1;
  z-index: 1;
}

.navigation {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #bbb;
    margin: 0 8px;
    cursor: pointer;
    transition: background 0.3s;
}
    #slide1:checked ~ .navigation label[for="slide1"],
    #slide2:checked ~ .navigation label[for="slide2"],
    #slide3:checked ~ .navigation label[for="slide3"] {
    background: #2a58b0;
    }
    .main_10{
        /* border: 1px solid black; */
        width: 100%;
        height: 400px;
        display: flex;
        background-color: rgb(248, 246, 246);
    }
    .bos{
        margin-top: 50px;
        width: 45%;
        height: 300px;
        margin-left: 35px;
        text-align: center;
    }
    .p_1{
        font-size: 50px;
        color: skyblue;
        text-align: center;
    }
    .p_2{
        font-size: 30px;
        color: black;
        text-align: center;
        line-height: normal;
    }
    .p_3{
        font-size: 17px;
        color: rgb(165, 159, 159);
        text-align: center;
    }
    .bos_1{
        margin-top: 50px;
        width: 45%;
        height: 300px;
        margin-left: 50px;
    }
    .medel{
        width: 70%;
        height: 250px;
        margin-left: 90px;
        margin-top: 25px;
    }
    .medel img{
        width: 45%;
        margin-left: 200px;

    }
    footer{
        text-align: center;
        font-size: 20px;
    }




